Cython==0.21.1
Pillow==2.6.1
argparse==1.2.1
bitstring==3.1.3
bunch==1.0.1
dill==0.2.1
fann2==1.0.0
ipython==2.3.1
matplotlib==1.4.2
mock==1.0.1
mpi4py==1.3.1
nose==1.3.4
numpy==1.9.1
oct2py==3.1.0
pyemd==0.0.10
pyparsing==2.0.3
pytesseract==0.1.6
python-Levenshtein==0.12.0
python-dateutil==2.2
pytz==2014.9
scikit-image==0.10.1
scikit-learn==0.15.2
scipy==0.14.0
six==1.8.0
wsgiref==0.1.2
